<div style="text-align:center">
  <h1 i18n>Hello world!</h1>
</div>

<h1 i18n="@@introductionHello">Hello user,</h1>
<ul>
  <li i18n="@@needsHome">Home</li>
  <li i18n="@@needsOrchard">Orchard</li>
  <li i18n="@@hasPerson">Person</li>
</ul>

<div>
  <ng-container i18n="@@translatedText">My amazing text!</ng-container>
  <br />

  <!--i18n="@@translatedComment": optional meaning|optional description -->
  Comment text
  <!--/i18n-->
  <br />
  <img [src]="logo" i18n-title="@@translatedImgTitle" title="Colmena logo" height="256" width="128">
</div>